body
{
    font-family: 'Arial', sans-serif;
    font-size:14px;
}

table 
{
    border-collapse:collapse;
    border-spacing:0;
}

.contenido
{
    margin-left: 5%;
    width: 90%;
    height: 90%;
    position: absolute;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
}

.cuadro1
{
    position: absolute;
    width: 19%;
    height: auto;
    margin-top:60px;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.cuadro2
{
    position: absolute;
    width: 18%;
    height: auto;
    margin-top:60px;
    margin-left: 21%;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.cuadro3
{
    position: absolute;
    width: 18%;
    height: auto;
    margin-top:60px;
    margin-left: 41%;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.cuadro4
{
    position: absolute;
    width: 18%;
    height: auto;
    margin-top:60px;
    margin-left: 61%;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.cuadro5
{
    position: absolute;
    width: 19%;
    height: auto;
    margin-top:60px;
    margin-left: 81%;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.cuadro6
{
    position: absolute;
    width: 19%;
    height: auto;
    margin-top:400px;
    margin-left: 81%;
    text-align: center;
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    background:#cccccc;
}

.inp3
{
    width: 60%;
    font-size:15px;
    height:25px;
    text-align: center;
    border:none;
    background: #cccccc;
}

.inp1
{
    font-family: 'Arial', sans-serif;  
    font-size:14px;
    width:90%;
    margin-left: 5%;
    height:25px;
    text-align: center;
}

/*button
{
    width: 20%;
    height:100%;
}*/

button
{
    background: none;
    border: none;
}

table
{
   font-size:14px; 
}

form table tr td
{
    text-align: center;
    height:25px;
}

.mo:hover
{
    background: #ffff99;
}

/*--------------------------*/
.cate
{
    background: redx;
    height: 20px;
    width:100%;
    margin-top: 40px;
    text-align: center;
}

.btn_tipo
{
    font-size: 14px;
}

.btn_tipo:hover
{
    background: #ffff99;
}

.tab_usuarios
{
    width: 500px;
    margin-left: 50%;
    left: -250px;
    position: absolute;
    text-align: center;
}

#user2
{
    display: none;
}

.titulo
{
    font-weight: bold;
}